*{
    text-align: center;
}
#chessBoard{
    min-height:60px;
    min-width:60px;
    max-height: 900px;
    max-width: 900px;
    overflow: hidden;
    float: left;
    border: 10px solid #333;
    margin:50px 0 0 300px;
    box-shadow: 2px 5px 8px 3px #444;
    -webkit-transform:perspective(2000px) rotateX(50deg) rotateZ(0deg);
    transform:perspective(1000px) rotateX(50deg) rotateZ(0deg);
    transition: all 30s linear 0s;
}
#lightDiv{
    background: #FFCC99;
    height: 60px;
    width: 60px;
    float: left;
}
#darkDiv{
    background: #8F604F;
    height: 60px;
    width: 60px;
    float: left;
}
h1{
    color: dodgerblue;
}
input[type="number"]{
    height:20px;
    border-radius:5px;
}
input[type="submit"]{
    height:25px;
    width:130px;
    border:none;
    border-radius: 5px;
    background: #009688;
}
.hol{
    height: 60px;
    width: 60px;
    float: left;
}